<template>
<div class="block">
    <el-pagination class="pagination" 
    background 
    layout="prev, pager, next,total" 
    :total="searchList.total" 
    :page-size='searchList.pageSize'
    ref="page"  
    @prev-click='currentPage'
    @next-click	='currentPage'
    @current-change='currentPage'
    :current-page.sync="page"
    >
    </el-pagination>
</div>

</template>

<script>
    export default {
        name: "Pagination",
        data() {
          return {
            page:1,
          }
        },
        methods:{
            currentPage(){
                // this.$emit('updatePage',this.$refs.page.internalCurrentPage)
                this.$emit('updatePage',this.page)
            }
        },
        props:['searchList']
        
    }
</script>

<style lang="less" scoped>
    .pagination {
        text-align: center;
    }
</style>