<template>
  <div class="register-container">
    <!-- 注册内容 -->
    <div class="register">
      <h3>注册新用户
        <span class="go">我有账号，去 <router-link to='/login'>登陆</router-link>
        </span>
      </h3>
      <!-- <div class="content">
        <label>手机号:</label>
        <input type="text" placeholder="请输入你的手机号" v-model="phone">
        <span class="error-msg">错误提示信息</span>
      </div>
      <div class="content">
        <label>验证码:</label>
        <input type="text" placeholder="请输入验证码" v-model="code">
        <button @click="getCode">获取验证码</button>
        <span class="error-msg">错误提示信息</span>
      </div>
      <div class="content">
        <label>登录密码:</label>
        <input type="text" placeholder="请输入你的登录密码" v-model="password">
        <span class="error-msg">错误提示信息</span>
      </div>
      <div class="content">
        <label>确认密码:</label>
        <input type="text" placeholder="请输入确认密码" v-model="confirmPassword">
        <span class="error-msg">错误提示信息</span>
      </div>
      <div class="controls">
        <input name="m1" type="checkbox" v-model="agree" ref="e">
        <span>同意协议并注册《尚品汇用户协议》</span>
        <span class="error-msg">错误提示信息</span>
      </div> -->
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="手机号" prop="tel">
          <el-input v-model="ruleForm.tel"></el-input>
        </el-form-item>
        <el-form-item label="验证码" prop="code">
          <el-input v-model="ruleForm.code" class="code"></el-input>
          <el-button @click="getCode" class="code-button">获取验证码</el-button>
        </el-form-item>
        <el-form-item label="密码" prop="pass">
          <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="checkPass">
          <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item >
          <el-button class="completed-btn" type="danger" @click="submitForm('ruleForm')">完成注册</el-button>
        </el-form-item>
      </el-form>
    </div>

    <!-- 底部 -->
    <div class="copyright">
      <ul>
        <li>关于我们</li>
        <li>联系我们</li>
        <li>联系客服</li>
        <li>商家入驻</li>
        <li>营销中心</li>
        <li>手机尚品汇</li>
        <li>销售联盟</li>
        <li>尚品汇社区</li>
      </ul>
      <div class="address">地址：北京市昌平区宏福科技园综合楼6层</div>
      <div class="beian">京ICP备19006430号
      </div>
    </div>
  </div>
</template>

<script>
  import {mapState} from 'vuex'
  export default {
    name: 'Register',
    data() {
      var checkTel = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('手机号不能为空'))
        }
        if (isNaN(value*1)) {
          return callback(new Error('请输入正确的手机号'))
        }
        if (value.length != 11) {
          return callback(new Error('必须是11位手机号'));
        }
        else {
          callback();
        }
     
      };

      var checkCode = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入验证码'));
        }
        if(value.length >8){
          callback(new Error('验证码错误'));   
        }
        else {
          callback();
        }
      };

      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入密码'));
        }
        if(value.length >8){
           callback(new Error('长度不能超过8个字符'));   
        }
        else {
          callback();
        }
      };

      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.ruleForm.pass) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      }

      return {
        ruleForm: {
          pass: '',
          checkPass: '',
          code:'',
          tel:''
        },  
        rules: {
          tel: [
            { required: true,validator: checkTel, trigger: 'blur' }
          ],
          code: [
            { required: true,validator: checkCode, trigger: 'blur' }
          ],
          pass: [
            { required: true,validator: validatePass, trigger: 'blur' },
          ],
          checkPass: [
            { required: true,validator: validatePass2, trigger: 'blur' }
          ],  
        }
      }
    },

    computed:{
      ...mapState('user',['codeNum'])
    },
    
    methods:{
      //获取验证码
      async getCode(){
          try {
            if (this.ruleForm.tel.length ==11) {
              await this.$store.dispatch('user/getCode',this.ruleForm.tel)
              this.ruleForm.code =this.codeNum
            }    
          } catch {
            alert('验证码获取失败')
          }
      },


      //点击完成注册
      submitForm(formName) {
        this.$refs[formName].validate(async (valid) => {
          if (valid) {
            try {
                await this.$store.dispatch('user/completed',{phone:this.ruleForm.tel,code:this.ruleForm.code,password:this.ruleForm.pass})
                this.$router.push({path:'/login'})        
            } catch(error) {
              this.$message({
                  message: error,
                  type: 'error'
              });
            }
          } 
        });
      },

    }
    
  }
</script>

<style lang="less" scoped>
  .register-container {
    .register {
      width: 1200px;
      height: 445px;
      border: 1px solid rgb(223, 223, 223);
      margin: 0 auto;
      
      .el-form{
        margin: auto;
        width: 400px;
        .el-form-item{
          margin-bottom: 25px;
          margin-top: 0px;
          .el-input{
          margin-top: 0px;
          margin-bottom: 0px;
          }
          .code-button{
            margin-left: 10px;
          }
          .code{
            width: 178px;
          }
        }
        .completed-btn{
          margin-left: 0px;
          width: 300px;
        }
        
        
      }


      h3 {
        background: #ececec;
        margin: 0;
        padding: 6px 15px;
        color: #333;
        border-bottom: 1px solid #dfdfdf;
        font-size: 20.04px;
        line-height: 30.06px;
        margin-bottom: 50px;

        span {
          font-size: 14px;
          float: right;

          a {
            color: #e1251b;
          }
        }
      }

      div:nth-of-type(1) {
        margin-top: 40px;
      }

      .content {
        padding-left: 390px;
        margin-bottom: 18px;
        position: relative;

        label {
          font-size: 14px;
          width: 96px;
          text-align: right;
          display: inline-block;
        }

        input {
          width: 270px;
          height: 38px;
          padding-left: 8px;
          box-sizing: border-box;
          margin-left: 5px;
          outline: none;
          border: 1px solid #999;
        }

        img {
          vertical-align: sub;
        }

        .error-msg {
          position: absolute;
          top: 100%;
          left: 495px;
          color: red;
        }
      }

      .controls {
        text-align: center;
        position: relative;

        input {
          vertical-align: middle;
        }

        .error-msg {
          position: absolute;
          top: 100%;
          left: 495px;
          color: red;
        }
      }

      .btn {
        text-align: center;
        line-height: 36px;
        margin: 17px 0 0 55px;

        button {
          outline: none;
          width: 270px;
          height: 36px;
          background: #e1251b;
          color: #fff !important;
          display: inline-block;
          font-size: 16px;
        }
      }
    }

    .copyright {
      width: 1200px;
      margin: 0 auto;
      text-align: center;
      line-height: 24px;

      ul {
        li {
          display: inline-block;
          border-right: 1px solid #e4e4e4;
          padding: 0 20px;
          margin: 15px 0;
        }
      }
    }
  }
</style>