<template>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="(i,index) in skuImageList" :key="i.id">
        <img :src="i.imgUrl" :class="{active:index==num}" @click="c(index,i)">
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</template>

<script>
  import Swiper from 'swiper/js/swiper.js';
  import 'swiper/css/swiper.css'  
  export default {
    name: "ImageList",
    data() {
      return {
        num:1
      }
    },
    watch:{
      skuImageList:{
        handler(){
          this.$nextTick(()=>{
            new Swiper ('.swiper-container', {
              loop: true, // 循环模式选项

              // 如果需要前进后退按钮
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
              slidesPerView:4,
              slidesPerGroup:1
            }) 
          })
        }
      }
    },

    //点击轮播图高亮显示并且更换默认图片
    methods:{
      c(index,i){
        this.num=index
        this.$bus.$emit('getIndex',index,i)
      }
    },
    props:['skuImageList'],
  }
</script>

<style lang="less" scoped>
  .swiper-container {
    height: 56px;
    width: 412px;
    box-sizing: border-box;
    padding: 0 12px;

    .swiper-slide {
      width: 56px;
      height: 56px;

      img {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        padding: 2px;
        width: 50px;
        height: 50px;
        display: block;

        &.active {
          border: 2px solid #f60;
          padding: 1px;
        }

        &:hover {
          border: 2px solid #f60;
          padding: 1px;
        }
      }
    }

    .swiper-button-next {
      left: auto;
      right: 0;
    }

    .swiper-button-prev {
      left: 0;
      right: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
      box-sizing: border-box;
      width: 12px;
      height: 56px;
      background: rgb(235, 235, 235);
      border: 1px solid rgb(204, 204, 204);
      top: 0;
      margin-top: 0;
      &::after {
        font-size: 12px;
      }
    }
  }
</style>