<template>
  <div class="spec-preview">
    <PicZoom :url="skuDefaultImg || '' " v-if="-1==num"></PicZoom>
    <PicZoom :url="imgUrl" v-if="-1!=num"></PicZoom>
  </div>

</template>




<script>

  import PicZoom from 'vue-piczoom'
  export default {
    name: "Zoom",
    data() {
      return {
        imgUrl:'',
        num:-1
      }
    },
    
    mounted() {
      //点击轮播图更换默认图片
      this.$bus.$on('getIndex',(index,i)=>{
        this.num=index
        this.imgUrl=i.imgUrl
      })
    },
    components:{
      PicZoom
    },
    props:['skuDefaultImg']
  }
</script>

<style lang="less">
  .mouse-cover-canvas{
    position:absolute;
    left: 760px !important;
    top: 241px !important;
  }

  .spec-preview {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;

    img {
      width: 100%;
      height: 100%;
    }

    .event {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 998;
    }

    .mask {
      width: 50%;
      height: 50%;
      background-color: rgba(0, 255, 0, 0.3);
      position: absolute;
      left: 0;
      top: 0;
      display: none;
    }

    .big {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -1px;
      left: 100%;
      border: 1px solid #aaa;
      overflow: hidden;
      z-index: 998;
      display: none;
      background: white;

      img {
        width: 200%;
        max-width: 200%;
        height: 200%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .event:hover~.mask,
    .event:hover~.big {
      display: block;
    }
  }
</style>