<template>
    <!-- 右侧内容 -->
<div class="order-right">
    <div class="order-content">
        <div class="title">
            <h3>我的订单</h3>
        </div>
        <div class="chosetype">
            <table>
            <thead>
                <tr>
                <th width="29%" class="item">商品</th>
                <th width="31%">订单详情</th>
                <th width="11%">收货人</th>
                <th>金额</th>
                <th>状态</th>
                <th>操作</th>
                </tr>
            </thead>
            </table>
        </div>
        <div class="orders">
            <table class="order-item" v-for="trade in data.records" :key="trade.id">
                <thead>
                    <tr>
                    <th colspan="5">
                        <span class="ordertitle">{{trade.createTime}} 订单编号：{{trade.outTradeNo}} <span
                            class="pull-right delete"><img src="../images/delete.png"></span></span>
                    </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="itemCar" width="60%" v-for="detail in trade.orderDetailList" :key="detail.id">
                            <div class="typographic">
                            <img :src="detail.imgUrl">
                            <a href="#" class="block-text">{{detail.skuName}}</a>
                            <span>x1</span>
                            <a href="#" class="service">售后申请</a>
                            </div>
                        </td>
                        <td rowspan="2" width="8%" class="center">{{trade.consignee}}</td>
                        <td rowspan="2" width="13%" class="center">
                            <ul class="unstyled">
                            <li>总金额¥{{trade.totalAmount}}</li>
                            <li>在线支付</li>
                            </ul>
                        </td>
                        <td rowspan="2" width="8%" class="center">
                            <a href="#" class="btn">{{trade.orderStatusName}}</a>
                        </td>
                        <td rowspan="2" width="13%" class="center">
                            <ul class="unstyled">
                            <li>
                                <a href="mycomment.html" target="_blank">评价|晒单</a>
                            </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="choose-order">
            <el-pagination
            background
            :page-size.sync="limit"
            :current-page.sync='page'
            layout="prev, pager, next,total"
            :total="data.total"
            @next-click='nextPage'
            @prev-click='prevPage'
            @current-change='changeCurrent'
            >
            </el-pagination>
        </div>
    </div>
    <!--猜你喜欢-->
    <div class="like">
    <h4 class="kt">猜你喜欢</h4>
    <ul class="like-list">
        <li class="likeItem">
        <div class="p-img">
            <img src="../images/itemlike01.png" />
        </div>
        <div class="attr">
            <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
        </div>
        <div class="price">
            <em>¥</em>
            <i>3699.00</i>
        </div>
        <div class="commit">已有6人评价
        </div>
        </li>
        <li class="likeItem">
        <div class="p-img">
            <img src="../images/itemlike02.png" />
        </div>
        <div class="attr">
            Apple苹果iPhone 6s/6s Plus 16G 64G 128G
        </div>
        <div class="price">
            <em>¥</em>
            <i>4388.00</i>
        </div>
        <div class="commit">已有700人评价
        </div>
        </li>
        <li class="likeItem">
        <div class="p-img">
            <img src="../images/itemlike03.png" />
        </div>
        <div class="attr">DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本
        </div>
        <div class="price">
            <em>¥</em>
            <i>4088.00</i>
        </div>
        <div class="commit">已有700人评价
        </div>
        </li>
        <li class="likeItem">
        <div class="p-img">
            <img src="../images/itemlike04.png" />
        </div>
        <div class="attr">DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本
        </div>
        <div class="price">
            <em>¥</em>
            <i>4088.00</i>
        </div>
        <div class="commit">已有700人评价
        </div>
        </li>
    </ul>
    </div>
</div>
</template>

<script>
export default {
    name:'MyOrder',
    data() {
        return {
            limit:10,
            page:1,
            data:{},
        }
    },
    mounted() {
        this.getOrderListData()
    },
    methods:{
        async getOrderListData(){
            let result = await this.$api.reqMyOrderList(this.page,this.limit)
            if (result.code == 200) {
                this.data = result.data
            }
            
        },
        nextPage(){
            this.getOrderListData()
        },
        prevPage(){
            this.getOrderListData()
        },
        changeCurrent(){
            this.getOrderListData()
        }
    },


}
</script>

<style lang="less" scoped>
    .item{
        padding-left: 4% !important
    }
</style>