<template>
  <div>
    <TypeNav></TypeNav>
    <div class="main">
      <div class="py-container">
        <!--bread-->
        <div class="bread">
          <ul class="fl sui-breadcrumb">
            <li>
              <a href="#">全部结果</a>
            </li>
          </ul>
          <ul class="fl sui-tag">
            <li class="with-x" v-if="serachParams.categoryName">{{serachParams.categoryName}}<i @click="removeCategoryName">x</i></li>
            <li class="with-x" v-if="serachParams.keyword">{{serachParams.keyword}}<i @click="removeSearch">x</i></li>
            <li class="with-x" v-if="serachParams.trademark">{{serachParams.trademark.split(':')[1]}}<i @click="removeTrademarkInfo">x</i></li>
            <li class="with-x" v-for="(item, index) in serachParams.props" :key="index">{{item.split(':')[1]}}<i @click="removePropsInfo(index)">x</i></li>
          </ul>
        </div>

        <!--selector-->
         <SearchSelector :searchList='searchList' @trademarkInfo="trademarkInfo" @attrValueInfo='attrValueInfo'></SearchSelector>

        <!--details-->
        <div class="details clearfix">
          <div class="sui-navbar">
            <div class="navbar-inner filter">
              <ul class="sui-nav">
                <li :class="{active:serachParams.order.includes(1)}" @click="sort(1)">
                  <a>综合<span v-show="serachParams.order.includes(1)">{{serachParams.order.includes('desc')?'↓':'↑'}}</span></a>
                </li>
                <li :class="{active:serachParams.order.includes(2)}" @click="sort(2)">
                  <a>价格<span v-show="serachParams.order.includes(2)">{{serachParams.order.includes('desc')?'↓':'↑'}}</span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="goods-list">
            <ul class="yui3-g">
              <li class="yui3-u-1-5" v-for="good in searchList.goodsList" :key="good.id">
                <div class="list-wrap">
                  <div class="p-img" @click="goodDetail(good.id)">
                    <a><img :src="good.defaultImg" /></a>
                  </div>
                  <div class="price">
                    <strong>
                      <em>¥ </em>
                      <i>{{good.price}}</i>
                    </strong>
                  </div>
                  <div class="attr">
                    <a title="促销信息，下单即赠送三个月CIBN视频会员卡！【小米电视新品4A 58 火爆预约中】">{{good.title}}</a>
                  </div>
                  <div class="commit">
                    <i class="command">已有<span>2000</span>人评价</i>
                  </div>
                  <div class="operate">
                    <a class="sui-btn btn-bordered btn-danger">加入购物车</a>
                    <a class="sui-btn btn-bordered">收藏</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <Pagination :searchList='searchList' @updatePage='updatePage'></Pagination>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchSelector from './SearchSelector'
  import {mapState} from 'vuex'

  export default {
    name: 'Search',
    data() {
      return {
        serachParams:{
          category1Id:'',
          category2Id:'',
          category3Id:'',
          categoryName: '',
          keyword: '',
          order: '1:desc',
          pageNo: 1,
          pageSize: 10,
          props: [],
          trademark: '',
        },
        active:'active'

      }
    },

    beforeMount(){
      this.serachParams={...this.serachParams,...this.$route.params,...this.$route.query}
      // Object.assign(this.serachParams,this.$route.params,this.$route.query)
      
    },
    mounted() {
      this.getData()
        
    },
    computed:{
      ...mapState('searchList',['searchList']),

    },
    methods:{
      getData(){
        this.$store.dispatch('searchList/getSerachList',this.serachParams)
      },
      
      //删除分类标签
      removeCategoryName(){
        this.serachParams.categoryName = ''
        this.serachParams.category1Id = ''
        this.serachParams.category2Id = ''
        this.serachParams.category3Id = ''
        
        if (this.$route.params) {
          this.$router.push({
              name:'search',
              query:{},
              params:{keyword:this.$route.params.keyword}
          })
        }
        this.getData()
      },

      //删除搜索标签
      removeSearch(){
        this.keyWordd = ''
        if (this.$route.query) {
          this.$router.push({
              name:'search',
              query:this.$route.query,
              params:{keyword:undefined}
          })
        }
        this.getData()
      },

      //添加品牌进行搜索
      trademarkInfo(trademark){
        this.serachParams.trademark=`${trademark.tmId}:${trademark.tmName}`
        this.getData()
      },

      //删除品牌标签
      removeTrademarkInfo(){
        this.serachParams.trademark=''
        this.getData()
      },

      //添加属性进行搜索
      attrValueInfo(attr,attrValue){
          let value =`${attr.attrId}:${attrValue}:${attr.attrName}`
          if (this.serachParams.props.indexOf(value) == -1) {
            this.serachParams.props.push(`${attr.attrId}:${attrValue}:${attr.attrName}`)
          }
          this.getData()
      },

      //删除属性标签
      removePropsInfo(index){
        this.serachParams.props.splice(index,1)
        this.getData()
      },
      
      //综合、价格排序
      sort(index){
        if (index == 1) {
          if (this.serachParams.order=='1:desc') {
            this.serachParams.order='1:asc'
          }else{
            this.serachParams.order='1:desc'
          }
        }
        if(index == 2){
          if (this.serachParams.order=='2:desc') {
            this.serachParams.order='2:asc'
          }else{
            this.serachParams.order='2:desc'
          }
        }
        this.getData()
      },
      
      //翻页
      updatePage(value){
        this.serachParams.pageNo = value
        this.getData()
      },

      goodDetail(goodID){
        this.$router.push(
          {
            name:'detail',
            params:{
              goodID:goodID
            }
          }
        )
      }
      
    },
    watch:{
      $route:{
        handler(){
          this.serachParams.category1Id=''
          this.serachParams.category2Id=''
          this.serachParams.category3Id=''
          this.serachParams={...this.serachParams,...this.$route.params,...this.$route.query}
          this.getData()
        }
      }
    },

    components: {
      SearchSelector
    },
  }
</script>

<style lang="less" scoped>
  .main {
    margin: 10px 0;

    .py-container {
      width: 1200px;
      margin: 0 auto;

      .bread {
        margin-bottom: 5px;
        overflow: hidden;

        .sui-breadcrumb {
          padding: 3px 15px;
          margin: 0;
          font-weight: 400;
          border-radius: 3px;
          float: left;

          li {
            display: inline-block;
            line-height: 18px;

            a {
              color: #666;
              text-decoration: none;

              &:hover {
                color: #4cb9fc;
              }
            }
          }
        }

        .sui-tag {
          margin-top: -5px;
          list-style: none;
          font-size: 0;
          line-height: 0;
          padding: 5px 0 0;
          margin-bottom: 18px;
          float: left;

          .with-x {
            font-size: 12px;
            margin: 0 5px 5px 0;
            display: inline-block;
            overflow: hidden;
            color: #000;
            background: #f7f7f7;
            padding: 0 7px;
            height: 20px;
            line-height: 20px;
            border: 1px solid #dedede;
            white-space: nowrap;
            transition: color 400ms;
            cursor: pointer;

            i {
              margin-left: 10px;
              cursor: pointer;
              font: 400 14px tahoma;
              display: inline-block;
              height: 100%;
              vertical-align: middle;
            }

            &:hover {
              color: #28a3ef;
            }
          }
        }
      }

      .details {
        margin-bottom: 5px;

        .sui-navbar {
          overflow: visible;
          margin-bottom: 0;

          .filter {
            min-height: 40px;
            padding-right: 20px;
            background: #fbfbfb;
            border: 1px solid #e2e2e2;
            padding-left: 0;
            border-radius: 0;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

            .sui-nav {
              position: relative;
              left: 0;
              display: block;
              float: left;
              margin: 0 10px 0 0;

              li {
                float: left;
                line-height: 18px;

                a {
                  display: block;
                  cursor: pointer;
                  padding: 11px 15px;
                  color: #777;
                  text-decoration: none;
                }

                &.active {
                  a {
                    background: #e1251b;
                    color: #fff;
                  }
                }
              }
            }
          }
        }

        .goods-list {
          margin: 20px 0;

          ul {
            display: flex;
            flex-wrap: wrap;

            li {
              height: 100%;
              width: 20%;
              margin-top: 10px;
              line-height: 28px;

              .list-wrap {
                .p-img {
                  padding-left: 15px;
                  width: 215px;
                  height: 255px;

                  a {
                    color: #666;

                    img {
                      max-width: 100%;
                      height: auto;
                      vertical-align: middle;
                    }
                  }
                }

                .price {
                  padding-left: 15px;
                  font-size: 18px;
                  color: #c81623;

                  strong {
                    font-weight: 700;

                    i {
                      margin-left: -5px;
                    }
                  }
                }

                .attr {
                  padding-left: 15px;
                  width: 85%;
                  overflow: hidden;
                  margin-bottom: 8px;
                  min-height: 38px;
                  cursor: pointer;
                  line-height: 1.8;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;

                  a {
                    color: #333;
                    text-decoration: none;
                  }
                }

                .commit {
                  padding-left: 15px;
                  height: 22px;
                  font-size: 13px;
                  color: #a7a7a7;

                  span {
                    font-weight: 700;
                    color: #646fb0;
                  }
                }

                .operate {
                  padding: 12px 15px;

                  .sui-btn {
                    display: inline-block;
                    padding: 2px 14px;
                    box-sizing: border-box;
                    margin-bottom: 0;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    border-radius: 0;
                    background-color: transparent;
                    margin-right: 15px;
                  }

                  .btn-bordered {
                    min-width: 85px;
                    background-color: transparent;
                    border: 1px solid #8c8c8c;
                    color: #8c8c8c;

                    &:hover {
                      border: 1px solid #666;
                      color: #fff !important;
                      background-color: #666;
                      text-decoration: none;
                    }
                  }

                  .btn-danger {
                    border: 1px solid #e1251b;
                    color: #e1251b;

                    &:hover {
                      border: 1px solid #e1251b;
                      background-color: #e1251b;
                      color: white !important;
                      text-decoration: none;
                    }
                  }
                }
              }
            }
          }
        }

        .page {
          width: 733px;
          height: 66px;
          overflow: hidden;
          float: right;

          .sui-pagination {
            margin: 18px 0;

            ul {
              margin-left: 0;
              margin-bottom: 0;
              vertical-align: middle;
              width: 490px;
              float: left;

              li {
                line-height: 18px;
                display: inline-block;

                a {
                  position: relative;
                  float: left;
                  line-height: 18px;
                  text-decoration: none;
                  background-color: #fff;
                  border: 1px solid #e0e9ee;
                  margin-left: -1px;
                  font-size: 14px;
                  padding: 9px 18px;
                  color: #333;
                }

                &.active {
                  a {
                    background-color: #fff;
                    color: #e1251b;
                    border-color: #fff;
                    cursor: default;
                  }
                }

                &.prev {
                  a {
                    background-color: #fafafa;
                  }
                }

                &.disabled {
                  a {
                    color: #999;
                    cursor: default;
                  }
                }

                &.dotted {
                  span {
                    margin-left: -1px;
                    position: relative;
                    float: left;
                    line-height: 18px;
                    text-decoration: none;
                    background-color: #fff;
                    font-size: 14px;
                    border: 0;
                    padding: 9px 18px;
                    color: #333;
                  }
                }

                &.next {
                  a {
                    background-color: #fafafa;
                  }
                }
              }
            }

            div {
              color: #333;
              font-size: 14px;
              float: right;
              width: 241px;
            }
          }
        }
      }
    }
  }
</style>