<template>
  <div class="cart">
    <h4>全部商品</h4>
    <div class="cart-main">
      <div class="cart-th">
        <div class="cart-th1">全部</div>
        <div class="cart-th2">商品</div>
        <div class="cart-th3">单价（元）</div>
        <div class="cart-th4">数量</div>
        <div class="cart-th5">小计（元）</div>
        <div class="cart-th6">操作</div>
      </div>
      <div class="cart-body">
        <ul class="cart-list" v-for="cart in cartInfoList" :key="cart.id">
          <li class="cart-list-con1">
            <input type="checkbox" name="chk_list" :checked='cart.isChecked ==1' @click="check(cart)">
          </li>
          <li class="cart-list-con2">
            <img :src="cart.imgUrl">
            <div class="item-msg">{{cart.skuName}}</div>
          </li>
          <li class="cart-list-con4">
            <span class="price">{{cart.skuPrice}}</span>
          </li>
          <li class="cart-list-con5">
            <a class="mins" @click="handles('mins',cart.skuNum,cart.skuId)">-</a>
            <input autocomplete="off" type="text" ref="e" :value="cart.skuNum" class="itxt" @change="handles('sett',cart.skuNum,cart.skuId,$event.target.value*1)">
            <a class="plus" @click="handles('plus',cart.skuNum,cart.skuId)">+</a>
          </li>
          <li class="cart-list-con6">
            <span class="sum">{{cart.skuPrice*cart.skuNum}}</span>
          </li>
          <li class="cart-list-con7">
            <a class="sindelet" @click="Delete(cart.skuId)">删除</a>
            <br>
            <a href="#none">移到收藏</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="cart-tool">
      <div class="select-all">
        <input class="chooseAll" type="checkbox"  @click="cc()" ref="checked" :checked='isChecked && cartInfoList.length>0' :disabled='cartInfoList.length==0'>
        <span>全选</span>
      </div>
      <div class="option">
        <a @click="DeleteAll">删除选中的商品</a>
        <a href="#none">移到我的关注</a>
        <a href="#none">清除下柜商品</a>
      </div>
      <div class="money-box">
        <div class="chosed">已选择
          <span>{{quantity}}</span>件商品</div>
        <div class="sumprice">
          <em>总价（不含运费） ：</em>
          <i class="summoney">{{total}}</i>
        </div>
        <div class="sumbtn">
          <a class="sum-btn" @click="trade">结算</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: 'ShopCart',
    data() {
      return {
        checked:''
      }
    },

    mounted() {
      this.getData()
    },
    computed:{
      ...mapGetters('cartList',['cartList']),

      cartInfoList(){
        return this.cartList.cartInfoList || []
      },

      //判断其他商品是否全部勾选，如果是全选框勾上
      isChecked(){
        return this.cartInfoList.every((i)=>{
          return i.isChecked ==1
        })
      },

      //计算所有已勾选商品的总价
      total(){
        let total = 0
        this.cartInfoList.forEach(i => {
          if(i.isChecked == 1){
            total += i.skuPrice * i.skuNum
          }
        });
        return total
      },

      //计算已经勾选到商品
        quantity(){
          let quantity = 0
          this.cartInfoList.forEach(i => {
            if(i.isChecked == 1){
              quantity +=1
            }
          });
          return quantity
        }
        
    },

    methods:{
      //发请求获取购物车数据
      getData(){
        this.$store.dispatch('cartList/getCartList')
      },

      //增减商品数量
      async handles(value,skuNum,skuId,event){
        var num = ''
        switch (value) {
          case 'mins':
              if (skuNum>1) {
                num =-1
              }else{
                num = 0
              }  
            break;
        
          case 'plus':
            num = 1
            break;

          case 'sett':
            if (event>=1) {
              num=event-Math.floor(skuNum)
              
            }
            else if(isNaN(event) || event<=0){
              num=0
            }
              
            break
        }
        try {
          await this.$store.dispatch('goodDetail/addOrUpdateShopCart',{skuId:skuId,skuNum:num})
          this.getData()
        } catch {
          alert('商品无法加入')
        }
      },

      //删除商品
      async Delete(skuId){
        try {
          await this.$store.dispatch('cartList/deleteItem',skuId)
        } catch {
          alert('商品删除失败')
        }
        this.getData()
      },

      //删除所有选中的商品
      async DeleteAll(){
        try {
          await this.$store.dispatch('cartList/allDeleteItem') 
        } catch {
          alert('商品删除失败')
        }
        this.getData()
      },

      //勾选商品
      async check(cart){
        var isChecked =''
        if(cart.isChecked == 1){
          isChecked =2
        }else{
          isChecked = 1
        }
        try {
          await this.$store.dispatch('cartList/checkUpdate',{skuId:cart.skuId,isChecked:isChecked})
          
        } catch {
          alert('勾选失败')
        }
        this.getData()
      },

      async cc(){
        var value = ''
        if (this.$refs.checked.checked) {
          value =1
        }else{
          value =2
        }
        try {
          await this.$store.dispatch('cartList/allCheck',value)
        } catch {
          alert('勾选失败')
        }
        this.getData()
      },
      
      //去结账页面
      trade(){
        this.$router.push('/trade')
      }
      
    }
  }
</script>

<style lang="less" scoped>
  .cart {
    width: 1200px;
    margin: 0 auto;

    h4 {
      margin: 9px 0;
      font-size: 14px;
      line-height: 21px;
    }

    .cart-main {
      .cart-th {
        background: #f5f5f5;
        border: 1px solid #ddd;
        padding: 10px;
        overflow: hidden;

        &>div {
          float: left;
        }

        .cart-th1 {
          width: 25%;

          input {
            vertical-align: middle;
          }

          span {
            vertical-align: middle;
          }
        }

        .cart-th2 {
          width: 25%;
        }

        .cart-th3,
        .cart-th4,
        .cart-th5,
        .cart-th6 {
          width: 12.5%;

        }
      }

      .cart-body {
        margin: 15px 0;
        border: 1px solid #ddd;

        .cart-list {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          overflow: hidden;

          &>li {
            float: left;
          }

          .cart-list-con1 {
            width: 15%;
          }

          .cart-list-con2 {
            width: 35%;

            img {
              width: 82px;
              height: 82px;
              float: left;
            }

            .item-msg {
              float: left;
              width: 150px;
              margin: 0 10px;
              line-height: 18px;
            }
          }

          .cart-list-con4 {
            width: 10%;

          }

          .cart-list-con5 {
            width: 17%;

            .mins {
              border: 1px solid #ddd;
              border-right: 0;
              float: left;
              color: #666;
              width: 6px;
              text-align: center;
              padding: 8px;
            }

            input {
              border: 1px solid #ddd;
              width: 40px;
              height: 33px;
              float: left;
              text-align: center;
              font-size: 14px;
            }

            .plus {
              border: 1px solid #ddd;
              border-left: 0;
              float: left;
              color: #666;
              width: 6px;
              text-align: center;
              padding: 8px;
            }
          }

          .cart-list-con6 {
            width: 10%;

            .sum {
              font-size: 16px;
            }
          }

          .cart-list-con7 {
            width: 13%;

            a {
              color: #666;
            }
          }
        }
      }
    }

    .cart-tool {
      overflow: hidden;
      border: 1px solid #ddd;

      .select-all {
        padding: 10px;
        overflow: hidden;
        float: left;

        span {
          vertical-align: middle;
        }

        input {
          vertical-align: middle;
        }
      }

      .option {
        padding: 10px;
        overflow: hidden;
        float: left;

        a {
          float: left;
          padding: 0 10px;
          color: #666;
        }
      }

      .money-box {
        float: right;

        .chosed {
          line-height: 26px;
          float: left;
          padding: 0 10px;
        }

        .sumprice {
          width: 200px;
          line-height: 22px;
          float: left;
          padding: 0 10px;

          .summoney {
            color: #c81623;
            font-size: 16px;
          }
        }

        .sumbtn {
          float: right;

          a {
            display: block;
            position: relative;
            width: 96px;
            height: 52px;
            line-height: 52px;
            color: #fff;
            text-align: center;
            font-size: 18px;
            font-family: "Microsoft YaHei";
            background: #e1251b;
            overflow: hidden;
          }
        }
      }
    }
  }
</style>