<template>
    <div class="like">
    <div class="py-container">
        <div class="title">
            <h3 class="fl">猜你喜欢</h3>
            <a href="javascript:;" class="fr tip changeBnt">换一换</a>
        </div>
        <div class="bd">
            <ul class="favourate">
                <li>
                    <img src="./images/like_02.png" alt="" />
                    <div class="like-text">
                        <p>阳光美包新款单肩包女包时尚子母包四件套女</p>
                        <h3>¥116.00</h3>
                    </div>
                </li>
                <li>
                    <img src="./images/like_03.png" alt="" />
                    <div class="like-text">
                        <p>阳光美包新款单肩包女包时尚子母包四件套女</p>
                        <h3>¥116.00</h3>
                    </div>
                </li>
                <li>
                    <img src="./images/like_01.png" alt="" />
                    <div class="like-text">
                        <p>阳光美包新款单肩包女包时尚子母包四件套女</p>
                        <h3>¥116.00</h3>
                    </div>
                </li>
                <li>
                    <img src="./images/like_02.png" alt="" />
                    <div class="like-text">
                        <p>阳光美包新款单肩包女包时尚子母包四件套女</p>
                        <h3>¥116.00</h3>
                    </div>
                </li>
                <li>
                    <img src="./images/like_03.png" alt="" />
                    <div class="like-text">
                        <p>阳光美包新款单肩包女包时尚子母包四件套女</p>
                        <h3>¥116.00</h3>
                    </div>
                </li>
                <li>
                    <img src="./images/like_01.png" alt="" />
                    <div class="like-text">
                        <p>阳光美包新款单肩包女包时尚子母包四件套女</p>
                        <h3>¥116.00</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name:'Like'
}
</script>

<style lang="less" scoped>

</style>